.profile-menu {
  margin-bottom: 40px !important;
}

.profile-bottom-divider {
  margin-top: 40px !important;
}

.profile-avatar-img {
  min-width: 290px;
}
.profile-general-inner {
  display: flex;
  flex-direction: row;
}

.profile-general-view {
  padding: 0 20px 0 30px;
}

.profile-general-view h2 {
  font-weight: 400;
  color: #777;
  padding: 0 !important;
  margin: 0 0 10px 0 !important;
}

.profile-general-view ul {
  padding: 0 0 0 0px;
  margin: 0 0 30px 0 !important;
}

.profile-general-view li {
  list-style: none;
  line-height: 25px;
  opacity: 0.9;
}

.profile-card-links {
  display: flex;
  flex-direction: column;
}

.profile-card-link {
  margin-bottom: 5px;
}

.profile-details-label {
  opacity: 0.8;
}

.profile-general-edit {
  width: 100%;
}

.profile-form-header {
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  padding: 10px 0px 5px 0;
  margin: 20px 0 20px 0;
  font-weight: 300;
}

.profile-form-header:first-child {
  margin: 0px 0 20px 0;
}
