.SideMenu {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 200px !important;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
  z-index: 99;
  border-radius: 0px !important;
  box-sizing: border-box !important;
}
.SideMenu a {
  line-height: 22px !important;
}

.ui.vertical.menu .item > i.icon {
  float: left;
  margin: 0 0.5em 0 0;
  opacity: 0.8;
}

.menu-logo {
  padding-top: 22px;
  padding-bottom: 22px;
}

.menu-logo img {
  margin-left: 16px;
  max-width: 160px;
}
