.TimePillsContainer {
  position: relative;
}

.TimePills {
  width: 380px;
  margin-left: 30px;
  position: absolute;
  top: -239px;
  left: 200px;
  height: 234px;
  max-height: 234px;
  overflow-y: auto;
  padding-right: 10px;
}

.TimePills > .label {
  width: 50px;
  margin: 0px 0px 10px 10px !important;
  text-align: center;
  cursor: pointer;
}

.TimePills > .label:hover {
  background-color: #dbdbdb;
}
