#Specialists {
  width: 100%;
}

.Specialist {
  position: relative;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font: "Lato", sans-serif;
  border-radius: 4px;
}

.Specialist:last-child {
  margin-right: 0px;
}

.Specialist:hover {
  background-color: #f1f1f1;
}

.specialist-img {
  box-sizing: border-box;
  width: 105px !important;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid transparent;
}

.specialist-name {
  margin: 15px 0px 0px 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #333;
}

.specialist-desc {
  margin: 8px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: #aaa;
  padding: 0px 10px;
}
