#Specialists {
  display: flex;
}

.Specialist {
  position: relative;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font: "Lato", sans-serif;
  margin-right: 15px;
  border-radius: 4px;
}

.Specialist:last-child {
  margin-right: 0px;
}

.Specialist:hover {
  background-color: #f1f1f1;
}

.Specialist.random {
  background-color: #3592da;
}

.Specialist.random:hover {
  background-color: #2185d0;
}

.Specialist.random h4 {
  color: #fff !important;
}

.Specialist.random div {
  color: rgba(255, 255, 255, 0.8) !important;
}

.specialist-img {
  box-sizing: border-box;
  border: 2px solid #eee;
  width: 100px !important;
  margin: 0 auto;
  margin-top: 10px;
}

.specialist-img__selected {
  border: 5px solid rgb(33, 133, 208);
}

.specialist-name {
  margin: 15px 0px 0px 0px !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: 400 !important;
  color: #333 !important;
}

.specialist-desc {
  margin: 8px 0px 10px 0px !important;
  font-size: 11px !important;
  line-height: 12px !important;
  font-weight: 700 !important;
  color: #aaa !important;
  padding: 0px 10px !important;
}
