.user-menu {
  top: 100%;
  right: 0;
  text-align: left;
  /* display: none; */
  position: absolute;
  z-index: 101;
  padding-top: 0;
  min-width: 300px;
  transform: translateZ(0);
  backface-visibility: hidden;
  border-radius: 4px;
}

.user-menu-inner {
  background-color: #fff;
  box-shadow: 0px 5px 15px 1px rgba(69, 65, 78, 0.2);
  border-radius: 4px;
}

.user-menu-header {
  padding: 20px 20px;
  box-shadow: 1px 34px 52px -19px rgba(68, 62, 84, 0.03);
}

.user-menu-header-user-card {
  padding: 5px 0;
  margin: 0;
  display: table;
  table-layout: fixed;
}

.user-menu-header-user-card-img img {
  width: 72px;
  min-height: 72px;
  border-radius: 50%;
}
.user-menu-header-user-card-details {
  display: table-cell;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  padding: 0 0 0 15px;
}

.user-menu-header-user-card-details-name {
  display: block;
  padding: 0 0 0 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1b1c1e;
  line-height: 25px;
}

.user-menu-header-user-card-details-email {
  display: inline-block;
  padding: 0 0 0 0;
  font-size: 1rem;
  color: #3f4047;
  line-height: 20px;
}

.user-menu-body {
  padding: 20px;
}

.user-menu-body ul {
  padding: 0;
  margin: 0 0 20px 0;
}

.user-menu-body li {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  outline: none !important;
  vertical-align: middle;
  padding: 9px 0;
}
