.CompanyConfig {
  padding-bottom: 50px;
}

.company-config-logo {
  display: block;
}

.company-config-logo canvas {
  background-color: #ccc;
  padding: 20px;
  border-radius: 4px;
  display: block;
  max-width: 700px;
}

.company-config-logo-info {
  display: block;
  padding: 5px 0 20px 0;
  color: rgb(102, 97, 143);
}

.company-config-logo button {
  display: block;
}

.company-payment-types {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.company-payment-type {
  display: flex;
  flex-direction: column;
  width: 128px;
  box-sizing: border-box;
  margin-right: 14px;
}

.company-payment-type:last-child {
  margin-right: 0px;
}

.company-payment-type img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #f5f5f5;
  cursor: pointer;
}
.company-payment-type label {
  padding-left: 23px !important;
  font-size: 0.9rem !important;
}

.company-payment-type-chkbox {
  margin: 0 auto;
}

.company-timetable * {
  box-sizing: border-box;
}
.company-timetable td {
  text-align: center !important;
  max-width: 143px;
}

.company-timetable input {
  text-align: center !important;
}

.company-timetable button {
  /* min-width: 110px !important; */
  width: 100%;
}

.company-config-time {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.company-config-time-end {
  margin-bottom: 5px;
}
