.company-payment-types {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.company-payment-type {
  display: flex;
  flex-direction: column;
  width: 128px;
  box-sizing: border-box;
  /* background-color: yellow; */
  margin-right: 14px;
}

.company-payment-type:last-child {
  margin-right: 0px;
}

.company-payment-type img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #f5f5f5;
  cursor: pointer;
}
.company-payment-type label {
  padding-left: 23px !important;
  font-size: 0.9rem !important;
}

.company-payment-type-chkbox {
  margin: 0 auto;
}
