#Specialists {
  display: flex;
}

.Specialist {
  position: relative;
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font: "Lato", sans-serif;
}

.specialist-img {
  box-sizing: border-box;
  border: 2px solid #eee;
  width: 100px !important;
  margin: 0 auto;
}

.specialist-img__selected {
  border: 5px solid rgb(33, 133, 208);
}

.specialist-name {
  margin: 15px 0px 0px 0px !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: 400 !important;
  color: #333 !important;
}

.specialist-desc {
  margin: 8px 0px 0px 0px !important;
  font-size: 11px !important;
  line-height: 12px !important;
  font-weight: 700 !important;
  color: #aaa !important;
}
