@media only screen and (max-width: 720px) {
  :root {
    font-size: 14pt;
  }

  ::-webkit-scrollbar {
    height: 0px !important; /* remove scrollbar space */
    width: 0px !important; /* remove scrollbar space */
    background: transparent !important; /* optional: just make scrollbar invisible */
  }

  body {
    display: block; /* TODO: mover pra quando chamar o CSS */
  }

  .button {
    font-size: 0.9rem !important;
  }

  .ui.labeled.icon.button,
  .ui.labeled.icon.buttons .button {
    padding-left: 3rem !important;
    padding-right: 0.7rem !important;
  }

  h1 {
    font-size: 1.1rem !important;
  }

  h2 {
    font-size: 1rem !important;
  }

  h3 {
    font-size: 0.9rem !important;
  }

  h4 {
    font-size: 0.8rem !important;
  }

  h5 {
    font-size: 0.7rem !important;
  }

  h6 {
    font-size: 0.6rem !important;
  }
  .dropdown {
    font-size: 0.9rem !important;
  }

  .Booker {
    width: 100%;
    margin: 0px auto 55px auto;
    border: none;
    -webkit-tap-highlight-color: transparent;
  }

  .booker-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .booker-header-logo {
    left: 20px;
  }

  .booker-main {
    padding: 90px 20px 90px 20px;
    box-sizing: border-box;
  }

  .booker-title-what,
  .personal-info {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
    font-size: 1.1rem !important;
    opacity: 0.8;
    font-weight: 400 !important;
  }

  .booker-title-who {
    margin-top: 50px !important;
    margin-bottom: 5px !important;
    font-size: 1.1rem !important;
    opacity: 0.8;
    font-weight: 400 !important;
  }

  .booker-title-when,
  .confimation-page-title {
    margin-top: 45px !important;
    margin-bottom: 15px !important;
    font-size: 1.1rem !important;
    opacity: 0.8;
    font-weight: 400 !important;
  }

  .breadcrumbs-page-numbers {
    display: none;
  }

  .huge-service {
    margin: 0 !important;
  }

  .huge-service-dropdown {
    font-size: 0.95rem !important;
    padding: 0px 10px !important;
  }

  .visible.menu.transition {
    min-height: 250px;
    font-size: 0.9rem !important;
  }

  .help-tooltip {
    border: 1px solid lightskyblue;
    font-size: 0.6rem !important;
    margin: -4px 5px 0 5px !important;
    color: lightskyblue;
  }

  #Specialists {
    overflow-x: auto !important;
    display: flex;
  }
  .Specialist {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font: "Lato", sans-serif;
    border-radius: 4px;
    margin-right: 10px;
    min-width: 25vw;
    /* background-color: yellow; */
  }

  .Specialist:hover {
    background-color: transparent !important;
  }

  .specialist-img {
    margin-bottom: -10px !important;
    /* min-width: 25vw; */
  }

  .specialist-name {
    font-size: 0.7rem !important;
    line-height: 0.9rem !important;
    font-weight: 600 !important;
    color: #444 !important;
    min-width: 25vw;
  }
  .specialist-desc {
    display: none;
  }

  /* .react-datepicker {
    width: 355px;
  }
  .react-datepicker__month-container {
    width: 355px;
  } */

  .TimePills {
    width: 100% !important;
    max-height: 180px !important;
    margin-left: -10px !important;
    margin-top: 20px !important;
    position: initial !important;
    top: 0px !important;
    left: 0px !important;
    padding-right: 0px;
    height: max-content !important;
  }

  .TimePills > .label {
    width: 63px !important;
    margin: 0px 10px 10px 0px !important;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .chosen-services-table thead {
    display: none !important;
  }

  .date-services-table {
    text-align: left !important;
    margin-left: 55px;
  }

  .remove-service-btn {
    float: right;
    margin-top: -80px !important;
    left: 5px;
    position: relative;
    border-radius: 50% !important;
    width: 28px;
    height: 28px;
    font-size: 0.6rem !important;
  }

  .booker-footer {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #eee !important;
    background-color: #fcfcfc;
  }

  .ui.pointing.large.label {
    font-size: 0.8rem !important;
  }
  .personal-info {
    margin-bottom: 0px !important;
  }

  .personal-info-form label {
    margin-top: 25px !important;
    font-weight: 400 !important;
    font-size: 0.9rem !important;
    padding: 0 !important;
  }

  .personal-info-form .label-gender {
    margin-bottom: -20px !important;
  }

  .personal-info-form .checkbox label {
    padding-left: 22px !important;
  }

  .personal-info-form .radio label {
    padding-left: 20px !important;
  }

  #whatsapp-toogle {
    margin-top: -45px;
  }
  #whatsapp-toogle label {
    padding-top: 4px !important;
    padding-left: 76px !important;
    z-index: 1 !important;
  }

  .ui.pointing.large.label.error-gender {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }

  #confirmation-title {
    padding-top: 30px !important;
  }

  .ServiceListItem {
    padding: 10px 0px !important;
  }

  .service-details-container {
    max-width: calc(100% - 75px) !important;
    min-width: 0 !important;
    padding-left: 0px !important;
  }

  .service-photo-container {
    border-right: none !important;
    padding: 0px 10px 0 10px !important;
  }
  .service-photo-container img {
    width: 50px !important;
    height: 50px !important;
  }
  .service-price {
    position: absolute !important;
    top: 60px !important;
    left: 10px !important;
  }
  .service-price-container {
    padding: 0px 20px 0px 25px !important;
    background-color: transparent !important;
  }

  .service-price-container-currency {
    font-size: 0.6rem !important;
    font-weight: 700 !important;
    width: 50px !important;
  }

  .service-price-container {
    padding: 0px !important;
    text-align: center !important;
  }
  .service-price-container-price {
    font-size: 0.8rem !important;
    font-weight: 700 !important;
    margin-top: -18px !important;
    width: 70px !important;
  }

  .service-price-container-price__digits {
    font-size: 0.4rem !important;
    font-weight: 700 !important;
    position: relative !important;
  }

  .payment-details-price-amount {
    font-size: 1.3rem !important;
  }

  .payment-details-types,
  .payment-details-price-total {
    display: none !important;
  }

  .service-remove {
    margin-top: 0 !important;
  }

  .service-remove-btn {
    font-size: 0.7rem !important;
    padding: 0 !important;
  }

  .conclusion-header {
    padding-top: 30px !important;
  }

  .conclusion-title {
    margin-top: 15px !important;
  }

  .Ticket {
    width: 100% !important;
    margin: 35px auto !important;
  }
  .ticket-client-details {
    padding: 20px !important;
  }

  .ticket-client-details-name {
    font-size: 0.9rem !important;
    line-height: 1rem !important;
  }
  .ticket-client-details-email,
  .ticket-client-details-phone {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
  }
  .ticket-appointment-details {
    padding: 20px 20px !important;
  }
  .ticket-appointment-details-service-avatar {
    margin-right: 0px;
  }
  .ticket-appointment-details-service-avatar img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px !important;
  }
  .ticket-appointment-details-service-desc {
    font-size: 0.9rem !important;
    line-height: 1rem !important;
    padding-right: 20px !important;
  }
  .ticket-appointment-details-service-specialist {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
  }
  .ticket-client-details-confirmationId {
    display: none !important;
  }
  .ticket-appointment-details-service-date,
  .ticket-appointment-details-service-time {
    font-size: 0.8rem !important;
    line-height: 1.1rem !important;
  }
  .ticket-company-details {
    padding: 20px !important;
  }
  .ticket-company-details-name {
    font-size: 0.9rem !important;
  }
  .ticket-company-details-street,
  .ticket-company-details-city,
  .ticket-company-details-phone,
  .ticket-company-details-email,
  .ticket-company-details-web {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
  }
}
